.settings-select-language-text {
  margin-bottom: 20px;
}

.settings-language-button {
  height: 80px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings-checkmark-icon {
  font-size: 20px;
}
